/* Global Reset */
* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #FFF;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-content {
   padding-left: 10px;
   padding-right: 10px;
}

.comparison-view {
   padding: 5px;
   margin-bottom: 0px;
}

.logo-link {
   float: left;
}

.header {
   border-bottom: 1px solid #dddddd;
   padding: 3px 8px;
   background-color: #f5f5f5;
}

#connections-div {
   outline: none !important;  
}

.right {
   float: right;
   margin-top: 6px;
}

.compare-label {
   font-size: 0.9em;
   position: relative;
   top: 1px;
   margin-right: 5px;
   font-weight: 200;
}

.hidden {
   display: none !important;
}

.btn-group {
   position: relative;
   display: inline-block;
   vertical-align: middle;
}

.btn-group .btn:first-child {
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.btn-group .btn:last-child {
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
}

.btn {
   outline: 0;
   display: inline-block;
   padding: 6px 12px;
   margin-bottom: 0;
   font-size: 14px;
   font-weight: normal;
   line-height: 1.428571429;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 4px;
   color: #333333;
   background-color: #ffffff;
   border-color: #cccccc;
   text-shadow: 0 1px 0 #fff;
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
   position: relative;
   float: left;
   background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
   background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
   background-repeat: repeat-x;
   border-color: #dbdbdb;
   border-color: #ccc;
}

.btn-group .btn.active {
   outline: 0;
   -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   background-color: #e0e0e0;
   border-color: #adadad;
   background-image: none;
}

.content-panel {
   padding: 5px;
   margin: 10px;
}

#site-header {
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 10px;
   background: #eaeaea;
   text-align: left;
   font-weight: bold;
   margin-bottom: 15px;
}

#site-header .super {
   position: relative;
   top: -30px;
   font-size: 1.5em;
   color: #777;
   font-weight: 400;
   margin-left: 10px;
}

#links {
   float: right;
}

#links a.extra {
   text-decoration: none;
   color: #aaa;
   margin-left: 1em;
   font-size: 1.1em;
}

#links a.extra:hover {
   color: #000;
}

#juxta-logo {
   padding-left: 15px;
}

.edition-info {
   border: 1px solid #dddddd;
   padding: 15px;
   margin: 0px 12px;
   text-align: left;
}

.book-cover {
   float: left;
   width: 25%;
}

.img-responsive {
   display: block;
   height: auto;
   max-width: 100%;
   vertical-align: middle;
   border: 0;
}

#edition-data {
   width: 75%;
   float: left;
}

#edition-data h1 {
   font-size: 36px;
   font-weight: 500;
   margin: 10px;
}
#edition-data p {
   margin: 10px;
   font-size: 1.3em;
   font-weight: 200;
}

#docs-panel {
   margin-top: 10px;
}

#docs-panel h3 {
   font-size: 24px;
}

#docs-panel ul {
   list-style: none;
   margin-left: 20px;
}

#docs-panel a {
   text-decoration: none;
   font-weight: 500;
   color: #777;
}
#docs-panel a:hover {
   color: #000;
}

#document-content {
   border: 1px solid #dddddd;
   padding: 0px;
   margin: 0px 12px;
   text-align: left;
}

.doc-title {
   padding: 10px;
}

.toolbar {
   padding: 10px 10px;
   background-color: #efefef;
}

.document-viewport {
   background: #dcdcdc;
   padding: 15px;
}

div.page {
   margin-top: 20px;
   margin-bottom: 20px;
   padding-top: 60px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 80px;
   background: white;
   width: 600px;
   height: 582px;
   box-shadow: 3px 3px 4px #000;
   overflow-y: auto;
   box-sizing: border-box;
}

.page-image {
   width: 50%;
   float: left;
   padding-left: 15px;
}

.dragon {
   margin-top: 20px;
   margin-bottom: 20px;
   width: 450px;
   height: 582px;
   background: white;
   box-shadow: 3px 3px 4px #000;
}
.image-spacer {
   width: 50%;
   float: left;
   height: 600px;
   box-sizing: border-box;
}


#wait-popup {
   display: none;
   text-align: center;
   width: 200px;
   height: auto;
   background-color: white;
   position: fixed;
   top: 40%;
   left: 50%;
   margin-left: -100px;
   z-index: 1001;
   box-shadow: 0 0 40px 10px #666;
   -webkit-box-shadow: 0 0 40px 10px #666;
   -moz-box-shadow: 0 0 40px 10px #666;
   border: 3px solid #555;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius:  10px;
   font-size: 0.85em;
   font-weight: 200;
   padding-bottom: 10px;
}

#wait-spinner {
   margin-top: 15px;
}
